<div class="mb-3">
  <label class="form-label">GitHub_login</label>
  <%= text_field_tag :username, nil, id: 'user-name', required: true %>
</div>
<%= submit_tag 'Find', id: 'find-user'  %>
<br/>
<br/>
<br/>
<h4>Fullname: </h4>
<h1 id='full-name'></h1>

<h4>List of repos</h4>
<ul id='repos-list'>
</ul>

<script type="module">
  import { ApolloClient, InMemoryCache } from "@apollo/client";
  import { useQuery, gql } from "@apollo/client";

  const client = new ApolloClient({
    uri: 'http://localhost:3000/graphql',
    cache: new InMemoryCache()
  });

  $(document).ready(function() {
    $("#find-user").on('click', function() {  
      let username = $("#user-name").val()

      client.query({
        query: gql`
          query getUser($username: String!){
            user(username:$username)
            repos(username:$username)
            testField
          }
        `,
        variables: {
          username: username
        }
      }).then(processGraphResponse)
    })
  })

  function processGraphResponse(data) {
    console.log(data.data)

    $("#repos-list").empty()

    $.each(data.data.repos, function( index, value ) {
      $("#repos-list").append(`<li>${value}</li>`)
    });
    $('#full-name').text(data.data.user)
  }
</script>
